<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Simple HttpErrorPages | MIT X11 License | https://github.com/AndiDittrich/HttpErrorPages -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>404 - PAGINA NO EXISTE</title>
</head>

<body>
  <div class="cover">
    <h1>PAGINA NO EXISTE
      <small>Error 404</small>
    </h1>    
    <a routerLink="/login">Ir a Login</a>
  </div>

</body>

</html>