<div>
  <mat-form-field>
      <input matInput placeholder="Nombres" [(ngModel)]="paciente.nombres">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Apellidos" [(ngModel)]="paciente.apellidos">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="DNI" [(ngModel)]="paciente.dni">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Direccion" [(ngModel)]="paciente.direccion">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Telefono" [(ngModel)]="paciente.telefono">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="E-mail" [(ngModel)]="paciente.email">
</mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cerrar()">Cancelar</button>
